.land-footer{
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #797979;
    padding: 40px 0;
}

.land-footer ul li{

    list-style: none;
    display: inline-block;
    margin-left: 20px;
}

/*----------- media query ---------*/

@media (max-width: 800px) {
    .land-footer{
        display: block;
        text-align: center;
    }
    .land-footer ul li{
        margin: 10px;
    }
    .land-footer ul{
        margin-top: 10px;
    }
}